<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ramblings of me">
        <title>{% block title %}{% endblock %} - upto11</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/default.css">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
       <a class="skip-link" href="#main">Skip to main</a>

        <header>
            <h1>Upto11</h1>
            <h2>rik van der Kemp's personal site</h2>
        </header>

        <main id="main">
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>See anything wrong on this website? Please send a PR here: [GH LInk]</p>
            <p>Comments on these pages can be send to <strong>rik</strong> at <strong>upto11.nl</strong></p>
        </footer>
    </body>
</html>
